header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}
.scatola{
height: 100px;
width: 20%;
background-repeat: no-repeat;
background-size: contain;
background-position: bottom;
padding-top: 40px;
}
/* .scatola>img{
    height: 100%;
} */